<!doctype html>
<html lang="en" ng-app="notationConverter">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Notation converter</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/convert-notation.js"></script>
	<!--<script src="js/test.js"></script>-->
	<style>
		body {
			font-family: Roboto, serif;
		}
		h4 {
			margin: 10px 0px;
		}
		input[type="text"] {
			height: 39px;
		}
		p {
			margin-top: 30px;
		}
		.error-input {
			color: red;
			border-color: #FF3E3E !important;
			box-shadow: 0 0 8px rgba(255, 100, 131, .6) !important;
		}
		
		@media(min-width: 550px) {
			.converter.container {
				width: 500px;
			}
		}
		@media(min-width: 768px) {
			.converter.container {
				margin-top: 100px;
			}
			.converter .row {
				margin-bottom: 10px;
			}
		}
	</style>
	<script>
		var app = angular.module('notationConverter', []);
		app.controller('converter', function($scope) {
			$scope.convert = function(num, notation, event) {
				console.log(num);
				try {
					if (num === "") {
						this.clear();
						return;
					}
					
					this.dec = convertNotation(num, 10, notation);
					this.hex = convertNotation(num, 16, notation);
					this.bin = convertNotation(num, 2, notation);
					this.oct = convertNotation(num, 8, notation);
					
					event.srcElement.classList.remove('error-input');
				} catch (e) {
					event.srcElement.classList.add('error-input');
				}
			};
			
			$scope.clear = function() {
				this.dec = "";
				this.hex = "";
				this.bin = "";
				this.oct = "";
			};
		});
	</script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="converter container" ng-controller="converter">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<h4>Decimal</h4>
			</div>
			<div class="col-md-9 col-sm-9">
				<input type="text" class="form-control" ng-model="dec" ng-keyup="convert(dec, 10, $event)">
				<!--<input type="text" class="form-control" ng-model="dec" ng-keyup="convert1($event)">-->
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<h4>Hexadecimal</h4>
			</div>
			<div class="col-md-9 col-sm-9">
				<input type="text" class="form-control" ng-model="hex" ng-keyup="convert(hex, 16, $event)">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<h4>Binary</h4>
			</div>
			<div class="col-md-9 col-sm-9">
				<input type="text" class="form-control" ng-model="bin" ng-keyup="convert(bin, 2, $event)">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<h4>October</h4>
			</div>
			<div class="col-md-9 col-sm-9">
				<input type="text" class="form-control" ng-model="oct" ng-keyup="convert(oct, 8, $event)">
			</div>
		</div>
	</div>
	<p class="text-center">
		<a href="https://github.com/sb134/notation-converter" title="View source on GitHub">
			<i class="fa fa-github-square fa-3x"></i>
		</a>
	</p>
</body>
</html>